@{
	Layout = "/Views/Shared/_Layout1.cshtml";
}
<section class="demo-2">
	<div id="slider" class="sl-slider-wrapper ">
		<div class="sl-slider ">
			<div class="sl-slide " data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner carousel-inner">
					<div class="bg-img "> <img class="img sliderimg1" src="~/assets/images/pexels1.jpg" alt="First slide" /></div>
				</div>
			</div>
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner carousel-item ">
					<div class="bg-img "> <img class="img sliderimg1" src="~/assets/images/room1.jpg" /></div>
				</div>
			</div>
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner ">
					<div class="bg-img "> <img class="img sliderimg1" src="~/assets/images/palmas.jpg" /></div>
				</div>
			</div>
		</div>
		<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
		</nav>
	</div>
</section>
<section id="services">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">Our Services</h2>
			<p class="wow fadeInDown">Our customers deserves best services and it is pleajure for us.</p>
		</div>

		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-futbol-o"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Restaurant & Bar</h4>
							<p class="foramentities">Once you're back from exploring the city, it's nice to unwind at your hotel's bar.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-compass"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Luxurious Rooms</h4>
							<p class="foramentities">If you don't like other rooms we have luxury rooms and many options for you.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-database"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Banquet </h4>
							<p class="foramentities">Sometime people need to have fun together. Beautifull and large Banquet halls are always there for you.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-bar-chart"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Wi-Fi Internet</h4>
							<p class="foramentities">Most hotel guests expect internet services at some level, and many business travelers actually need it for a successful trip. We make sure guests know how to connect or where to find the password when they arrive.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-paper-plane-o"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">24/7 Service</h4>
							<p class="foramentities">We have fast and best services to make our customers feel satisfied. Just like check-ins and check-outs, our guests will be able to rest easier knowing they can reach us at any hour for simple services.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-bullseye"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Room Service</h4>
							<p class="foramentities">Your guests will be able to rest easier knowing they can reach you at any hour for simple services like providing a replacement key</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about">
	<div class="container">

		<div class="section-header">
			<h2 class="section-title wow fadeInDown">About Us</h2>
			<p class="wow fadeInDown">Our hotel is not just a place to stay. It is also place where you will feel  worth to relax.</p>
		</div>

		<div class="row">
			<div class="col-sm-6 wow fadeInLeft">
				<img class=" img-responsive" src="~/assets/images/our (2).jpg" alt="">
			</div>

			<div class="col-sm-6 wow fadeInRight">
				<h3 class="column-title">Our Hotel</h3>
				<p>At our Hotel, our mission is to be best choice of our customers in world by providing our guests with 5-star service and facilities.</p>
				<p>We are proud to be one of the highest rated hotel, and we invite you to come and experience our luxury accommodations for yourself.</p>
				<p> Beautifull, luxury and  different room types, hotel bar and our restaruant are always ready at your service.</p>
				<p>A stylish mix of contemporary design and antique touches will transport you to a world of serene beauty. All rooms and suites boast unique layouts and bespoke furniture. Add to this stunning views and high-end amenities, and you are guaranteed an unrivalled experience of comfort and luxury.</p>
				<p>After visiting our hotel you will learn why we are best choice of our customers. </p>
				<ul class="listarrow">
					<li><i class="fa fa-angle-double-right"></i>Room Service</li>
					<li><i class="fa fa-angle-double-right"></i>Direct Dailing Facility</li>
					<li><i class="fa fa-angle-double-right"></i>Laundry Service</li>
					<li><i class="fa fa-angle-double-right"></i>Travel Assistance</li>
					<li><i class="fa fa-angle-double-right"></i>Bar & Restaurant</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="hero-action-section" class="hero-action-section">

	<div class="container ow-section">
		<h4 class="hero-action-title">Clean, luxury, simple rooms </h4>
		<p class="hero-action-description">
		With too many options are always ready for you. Our customers deserves our best rooms.<br /> That's why we have so many options for you.
		</p>
		@if (User.Identity.IsAuthenticated)
		{
			<p><a href="/HotelReception/Rooms" class="get-started">Check Rooms </a></p>
		}
		else
		{
			<p><a href="/Identity/Account/Login" class="get-started">Check Rooms </a></p>

		}
	</div>
</section>
<section id="our-team">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title wow fadeInDown">
				OUR TEAM
			</h2>
			<p class="wow fadeInDown">Our team is the key of our succes.  <br> Founder, president and managers are always here to growth our hotel .</p>
		</div>
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
					<div class="team-img">
						<img class="img-responsive" src="~/assets1/images/team/01.jpg" alt="">
					</div>
					<div class="team-info">
						<h3>SomeOne</h3>
						<span>Founder </span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
					<div class="team-img">
						<img class="img-responsive" src="~/assets1/images/team/02.jpg" alt="">
					</div>
					<div class="team-info">
						<h3> SomeOne2</h3>
						<span>President</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
					<div class="team-img">
						<img class="img-responsive" src="~/assets1/images/team/03.jpg" alt="">
					</div>
					<div class="team-info">
						<h3> Someone3</h3>
						<span>Manager</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
					<div class="team-img">
						<img class="img-responsive" src="~/assets1/images/team/04.jpg" alt="">
					</div>
					<div class="team-info">
						<h3> Someone4</h3>
						<span>Manager</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>