@using HotelReception.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity


@inject SignInManager<ReceptionUser> SignInManager
@inject UserManager<ReceptionUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
	<li class="scroll"><a href="/HotelReception/RoomDesignTest">Rooms</a></li>
	@if (!(ViewContext.HttpContext.User.IsInRole("User")))
	{
		<li class="scroll"><a href="/HotelReception/Customers">Customers</a></li>
		<li class="scroll"><a href="/HotelReception/Reservations">Reservations</a></li>
		<li class="scroll"><a href="/Admin/Roles">Roles</a></li>
		<li class="scroll"><a href="/Admin/GetUsers">Users</a></li>

	}

	<li class="scroll"><a id="manage" asp-area="Identity" asp-page="/HotelReception/Index" title="Manage">@UserManager.GetUserName(User)</a></li>
	<li class=" scroll"><a id="logoutform" class="fa fa-sign-out fa-2x" href="/Auth/LogOut"></a></li>

}
else
{
	<li class="scroll"><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>

	<li class="scroll"><a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
}
