<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<authentication mode="Forms">
		<forms loginUrl="/Identity/Account/Login" timeout="45" slidingExpiration="true" cookieless="UseCookies" protection="All" requireSSL="false" enableCrossAppRedirects="false" defaultUrl="~/Home/Index" path="/" />
	</authentication>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>

